header {
    display: flex;
    justify-content: center;
    padding: 30px;
}
header h1 {
    font-size: 50px;
    color: #70c587;
}
#addBtns button {
    background-color: #3ab363;
    border: none;
    color: white;
    border-radius: 20px;
    margin-top: 15px;
    width: 150px;
    height: 30px;
    margin-left: 30px;
}
#screens {
    width: 100%;
    display: flex;
    justify-content: center;
}
#newScreen {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#screens :last-child {
    margin-right: 0;
}
#newScreen p {
    font-size: 30px;
}
#newScreen h1 {
    font-size: 20px;
}